local all all trust
host all all {{ prefix6 }} trust
host replication all {{ prefix6 }} trust
hostssl all all {{ prefix6 }} trust

local replication repmgr trust
host replication repmgr {{ prefix6 }} trust
host replication repmgr ::1/128 trust
host replication repmgr localhost trust


local repmgr repmgr trust
host repmgr repmgr {{ prefix6 }} trust
host repmgr repmgr ::1/128 trust
host repmgr repmgr localhost trust
