local all all trust
host all all {{ ansible_default_ipv6.address }}/{{ ansible_default_ipv6.prefix }} trust
host replication all {{ ansible_default_ipv6.address }}/{{ ansible_default_ipv6.prefix }} trust
hostssl all all {{ ansible_default_ipv6.address }}/{{ ansible_default_ipv6.prefix }} trust
