#/etc/postgresql/14/main/repmgr.conf
node_id={{ node_id }}
node_name={{ inventory_hostname }}
conninfo='host={{ inventory_hostname }}  user=repmgr dbname=repmgr port=5432'
data_directory='/var/lib/postgresql/14/main/'
barman_host='barman@bm0'
# this is the current "live":
barman_server=pg1
restore_command='/usr/bin/barman-wal-restore -U barman bm0 pg1 %f %p'
pg_bindir='/usr/lib/postgresql/{{ pg_major_release}}/bin'
log_file='/var/log/repmgr.log'
use_replication_slots=true
